@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

.topbar {
    background-color: white;
    padding: 8px 40px;
    font-size: 12px;
    height: 40px;
    border-bottom: 1px solid rgb(223, 218, 218);
}

body {
    overflow-x: hidden;
}

.topbar .rightLink {
    text-align: right;
    gap: 10px;
}

.topbar .rightLink a {
    text-decoration: none;
    font-size: 12px;
    color: #424242;
    margin-left: 20px;
    margin-right: 20px;
}

.topbar .rightLink a:hover {
    color: purple;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: white;
}

nav .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(183, 181, 181);
    padding: 0 60px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    position: relative;
}

nav .navbar .nav-icons i {
    justify-content: space-around;
    margin-left: 30px;
}

nav .navbar ul {
    display: flex;
    justify-content: space-around;
}

nav .navbar ul li {
    margin-left: 40px;
    list-style: none;
}

nav .navbar ul li a {
    text-decoration: none;
    font-weight: 1000;
    font-size: 14px;
    color: #424242;
}

nav .navbar .logos img {
    width: 80px;
    height: 24px;
    margin-left: 60px;
    cursor: pointer;
}

nav .navbar .url:hover {
    color: #9c00ad;
}

/* SHOP CATEGORIES */

.shop-categories {
    width: 60%;
    border: 1px solid #b8b3b3;
    background-color: white;
    padding: 30px;
    height: 50px;
    position: absolute;
    top: 60px;
    left: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.shop-categories div {
    cursor: pointer;
}

.shop-categories p {
    color: #6a6666;
    font-size: 16px;
    font-weight: 700;
}

.shop-categories p:hover {
    color: #9c00ad;
}

.shop-skincare p {
    text-align: center;
    margin-top: 25px;
    font-size: 26px;
    font-weight: bolder;
    color: #312727;
}

nav .navbar .sub-menu-wrap {
    position: absolute;
    top: 120%;
    right: 8%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.28);
    z-index: 999;
    max-height: 600px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: white;
}

/* nav .navbar .sub-menu-wrap.open-menu {
    max-height: 400px;
} */

nav .navbar .sub-menu {
    background-color: white;
    width: 180px;
    min-height: 140px;
}

nav .navbar .sub-menu-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    margin: 10px 0;
    color: #424242;
    margin-left: -12px;
    font-size: 14px;
    padding: 3px;
}

nav .navbar .sub-menu-link p {
    width: 100%;
    padding: 5px 5px 5px 0;
}

nav .navbar .sub-menu-link i {
    font-size: 18px;
    font-weight: 500;
}

nav .navbar .sub-menu-link:hover {
    font-weight: 600;
    color: #9c00ad;
}

nav .navbar #smile {
    margin-right: 60px;
}

nav .navbar #smile,
nav .navbar #bars,
nav .navbar #heart,
nav .navbar #search {
    color: #424242;
    font-weight: 500;
}

nav .navbar #smile .tooltiptext {
    visibility: hidden;
    width: 130px;
    background-color: #9c00ad;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 3px;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 95%;
    margin-left: -65px;
    font-size: 14px;
}

nav .navbar #bars {
    position: relative;
}

nav .navbar #bars .cart-item-length {
    position: absolute;
    top: -6px;
    right: -10px;
    background: #9c00ad;
    color: white;
    font-size: 10px;
    font-weight: bold;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .navbar ul li a:hover {
    color: purple;
}

.herosection .home,
.livepics .home,
.prodcutslides .home,
.elitepro .home {
    margin-left: 100px;
    padding: 15px;
}

.herosection .splurgeImage {
    width: 100%;
    padding: 0 100px 0 0;
}

.livepics .home img {
    margin-right: -4px;
}

.prodcutslides .home img,
.elitepro .home img {
    width: 92%;
}

.handpicked h4,
.handpicked h5,
.handpicked p,
.topHighlights .headings h4 {
    text-align: center;
    padding: 5px;
}

.handpicked .handpickedHeading,
.handpicked .topbrands-heading {
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 30px;
}

.topHighlights .headings h4 {
    font-size: 20px;
    color: #312727;
    padding-top: 20px;
}

.topHighlights .topHighlightsImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 images per row */
    padding: 5px 120px 0 110px;
    /* top right bottom left */
}

.topHighlights img {
    width: 650px;
    height: 500px;
    gap: 5px;
}

.handpicked .topbrands-heading {
    margin-top: 10px;
}

.handpicked .view-all {
    margin: 0 auto;
    transform: translateY(-15px);
}

.handpicked .sponsored {
    margin: 0 auto;
    transform: translateY(-25px);
}

.handpicked h5 {
    padding-bottom: 18px;
    color: purple;
    font-weight: 500;
    font-size: 14px;
}

.handpicked p {
    font-size: 12px;
    color: #312727;
}

.handpickedImage {
    width: 95%;
    margin: auto;
    position: relative;
    padding: 0 40px 0 70px;
}

.slick-slide {
    padding: 0 10px;
}

.slick-list {
    overflow: hidden;
}

.slick-prev:before,
.slick-next:before {
    color: black;
    font-size: 25px;
}

.slick-prev,
.slick-next {
    z-index: 1000;
    width: 40px;
    height: 40px;
}

.handpickedImage img {
    width: 220px;
    height: 300px;
    object-fit: contain;
}

.handpickedImage #img1 {
    margin-left: 80px;
}

/* .handpickedImage .sponsored .productInfo1 h5 {
    text-align: left;
    margin-left: 70px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
} */

.handpickedImage .sponsored .productInfo1 h4,
.handpickedImage .sponsored .productInfos h4 {
    margin-left: -30px;
    font-size: 18px;
    margin-top: -20px;
    margin-right: 30px;
    text-decoration: none;
}

.handpickedImage .sponsored span {
    color: #206e4d;
    font-size: 16px;
}

.new-featured .goodvibesImages span {
    color: #206e4d;
    font-size: 16px;
}

.handpickedImage .sponsored strike,
.new-featured .goodvibesImages strike {
    color: #00000080;
    font-size: 14px;
}

.handpickedImage .sponsored .offers {
    width: 90px;
    background-color: white;
    position: relative;
    left: 0px;
    top: -55px;
    border-radius: 20px;
    padding: 3px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);

}

.handpickedImage .sponsored .offers h3 {
    color: #9c00ad;
    font-size: 12px;
    text-align: left;
    padding-left: 8px;
    font-weight: 600;
}

.handpickedImage .sponsored .productInfos {
    margin-top: -50px;
}

.handpickedImage .sponsored .productInfos h5 {
    margin-left: -5px;
}

.handpickedImage .sponsored .productInfos h5,
.new-featured .goodvibesImages h5 {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding-top: -10px;
}

.handpickedImage .sponsored .productInfos h4,
.new-featured .goodvibesImages h4 {
    margin-left: -60px;
    padding-top: 5px;
    font-size: 18px;
}

.productadsFirst img {
    width: 318px;
    height: 453px;
}

.productadsSecond img {
    width: 650px;
    height: 300px;
}

.productadsFirst {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 images per row */
    gap: 0px;
    padding: 40px;
    padding: 35px 120px 0 110px;
    /* top right bottom left */
}

.productadsFirst img {
    width: 100%;
    display: block;
}

.productadsSecond {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 images per row */
    gap: 0px;
    padding: 40px;
    padding: 35px 120px 0 110px;
    /* top right bottom left */
}

.handpickedImage .sponsored .cart {
    width: 215px;
    border: 1px solid #9c00ad;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}

.handpickedImage .sponsored .cart h3 {
    color: #9c00ad;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.handpickedImage .sponsored .cart h3:hover {
    color: #63016e;
}

.cart-btn {
    display: block;
    text-align: center;
    padding: 5px 0;
    border: 2px solid #9c00ad;
    color: #9c00ad;
    border-radius: 12px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    width: 90%;
    transition: 0.3s;
}

.cart-btn:hover {
    color: #8f059e;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    opacity: 0.3;
}

.notices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    text-align: center;
    padding: 35px 120px 0 110px;
    /* top right bottom left */
}

.notices div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notices div img {
    width: 120px;
    height: 90px;
    cursor: pointer;
}

.notices div a {
    color: #424242;
    text-decoration: none;
    line-height: 1.6;
}

.notices div a:hover {
    color: purple;
}

.notices div .notices-links {
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.notices div .notices-info {
    font-size: 14px;
    font-weight: 200;
}

.imp-links {
    background-color: #f1f0f0;
    margin-left: 120px;
    margin-top: 50px;
    width: 85%;
    height: 350px;
}

.imp-links .link-infos {
    display: flex;
    align-items: flex-start;
}

.imp-links .link-infos .link-details {
    flex: 1;
}

.imp-links .link-infos a {
    color: #6c7a6c;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.8;
}

.imp-links .link-infos .link-details {
    margin-left: -270px;
    letter-spacing: 0.2;
    font-family: "Poppins", sans-serif;
    padding-left: 300px;
    text-align: left;
    padding-right: 50px;
    text-transform: capitalize;
}

.imp-links .link-infos .link-heading {
    width: 180px;
}

.imp-links .link-infos .link-heading a {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 50px;
    cursor: pointer;
}

.imp-links .link-infos a:hover {
    color: purple;
    font-size: 13px;
}

footer {
    display: flex;
    padding-left: 290px;
    gap: 250px;
}

footer .footer-details {
    display: flex;
    flex-direction: column;
}

footer .footer-details .footer-heading,
.footer-bottom .footer-bottom-details .footer-bottom-heading {
    font-size: 16px;
    color: #6c7a6c;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 30px;
}

footer .footer-links a {
    text-decoration: none;
    font-size: 14px;
    color: #6d738c;
    padding-bottom: 7px;
    font-weight: 200;
}

footer .footer-links a:hover {
    color: purple;
}

.footer-line {
    border-bottom: 1px solid #ccc;
    opacity: 0.5;
    height: 5px;
    padding: 0 100px 0 100px;
    width: 87%;
    margin-left: 100px;
    margin-top: 20px;
}

.footer-bottom {
    display: flex;
    padding-left: 240px;
    gap: 250px;
    padding-top: 50px;
}

.footer-bottom-details {
    display: flex;
    flex-direction: row;
}

.footer-bottom .footer-bottom-details .footer-bottom-pay-connect .twitter {
    color: #3b5998;
}

.footer-bottom .footer-bottom-details .footer-bottom-pay-connect .twitter {
    color: #1da1f2;
}

.footer-bottom .footer-bottom-details .footer-bottom-pay-connect .pinterest {
    color: #bd081c;
}

.footer-bottom .footer-bottom-details .footer-bottom-pay-connect .youtube {
    color: #ff0000;
}

.footer-bottom .footer-bottom-details .footer-bottom-pay-connect .linkedin {
    color: #0077b5;
}

.copyright {
    font-size: 14px;
    color: #2c414c;
    text-align: center;
    font-weight: 300;
    padding-top: 40px;
    padding-bottom: 60px;
}

.breadcrumbs ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}

.breadcrumbs ul {
    font-size: 14px;
}

.breadcrumbs ul li {
    list-style: none;
    padding-left: 10px;
    color: #988989;
}

.breadcrumbs ul a {
    text-decoration: none;
    color: #312727;
}

.breadcrumbs ul li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
}

.breadcrumbs ul a:hover {
    color: purple;
}

.new-featured h1,
.new-featured h4 {
    text-align: center;
    padding-top: 30px;
}

.new-featured h1 {
    font-size: 23px;
}

.new-featured h4 {
    font-size: 18px;
    padding-bottom: 30px;
}

.new-featured .goodvibesImages {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    padding: 0 200px 0 220px;
}

.new-featured .goodvibesImages img {
    width: 200px;
}

.new-featured .goodvibesImages .ratings {
    border: 1px solid #206e4d;
    width: 25%;
    border-radius: 20px;
    background-color: #206e4d;
}

.new-featured .goodvibesImages .ratings h6 {
    font-size: 12px;
    color: white;
    padding-left: 4px;
}

.new-featured .goodvibesImages .ratings i {
    color: white;
}

.new-featured .goodvibesImages .rating-info {
    display: flex;
    margin-top: -20px;
}

.new-featured .goodvibesImages .rating-info p {
    font-size: 12px;
    color: #00000080;
    padding-left: 5px;
}

.custom-arrow {
    position: absolute;
    top: 35%;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.left {
    left: -60px;
}

.right {
    right: -20px;
}

.elitetopdeals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: auto;
    padding: 0px;
    padding: 35px 120px 0 110px;
    /* top right bottom left */
}

.elitetopdeals .elitedeals {
    height: 500px;
    width: 635px;
}

/* SINGLE PRODUCT PAGE */

.single-product-page {
    background-color: #f7f7f7;
    margin-right: 50px;
    height: 850px;
    width: 100%;
}

.single-product-page .single-product-breadcrumbs .single-product {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0px;
    margin-left: 115px;
}

.single-product-details {
    background-color: white;
    width: 84%;
    margin-left: 115px;
    margin-top: 30px;
    height: 700px;
    border-radius: 20px;
    display: flex;
}

.single-product-details .single-product-image {
    width: 600px;
}

.single-product-details .single-product-image img {
    width: 600px;
    margin-top: 50px;
    margin-left: 70px;
    border-radius: 20px;
    height: 600px;
    cursor: all-scroll;
}

.single-product-details .single-product-description {
    margin-left: 150px;
    margin-right: 50px;
    padding-top: 70px;
    width: 100%;
    margin-right: 100px;
}

.single-product-details .single-product-description .product-name {
    font-size: 20px;
    font-family: bolder;
    color: #312736;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    padding-top: 20px;
}

.single-product-details .single-product-description .product-description {
    font-size: 16px;
    color: #312736;
    font-weight: 300;
    text-align: justify;
    padding: 20px 0 20px 0;
    font-family: "Manrope", sans-serif;
}

.single-product-details .single-product-description .price-details {
    font-size: 20px;
    color: #06000f;
}

.single-product-details .single-product-description .price-details strike {
    font-size: 14px;
    color: #938f99;
    padding-bottom: 15px;
}

.single-product-details .single-product-description .price-details .line {
    color: #938f99;
    height: 14px;
    width: 5px;
}

.single-product-details .single-product-description .price-details .discount {
    color: #206e4d;
    font-size: 14px;
}

.single-product-details .single-product-description .product-taxes {
    color: #938f99;
    font-size: 12px;
    padding: 10px 0 20px 0;
}

.single-product-details .single-product-description .product-buttons {
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

.single-product-details .single-product-description .product-buttons button {
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    text-transform: capitalize;
    border: none;
    font-size: 14px;
    font-weight: bolder;
}

.single-product-details .single-product-description .product-buttons .cart {
    background-color: #9c00ad;
    color: white;
    cursor: pointer;
}

.single-product-details .single-product-description .highlights {
    width: 100%;
}

.single-product-details .single-product-description .highlights h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #312736;
}

.single-product-details .single-product-description .highlights .highlights-details {
    text-align: justify;
    font-size: 16px;
    color: #312736;
    font-weight: 300;
}

.single-product-details .single-product-description .quantity {
    font-size: 16px;
    color: #312736;
    margin-bottom: 20px;
}

.single-product-details .single-product-description .product-buttons .cart:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #b002c4;
}

.single-product-details .single-product-image img:hover {
    transform: scale(1.05);
}

/* ADD TO CART */

.add-to-cart-details {
    background-color: #f7f7f7;
    width: 100%;
    min-height: 668px;
}

.add-to-cart {
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid #c2bfbf;
    margin-left: 400px;
    background-color: white;
}

.add-to-cart .my-cart {
    border-bottom: 1px solid #c2bfbf;
}

.add-to-cart .my-cart .arrow-left {
    color: #9f9d9d;
}

.add-to-cart .my-cart-heading {
    text-align: left;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
}

.add-to-cart .my-cart-heading button {
    border: none;
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
}

.add-to-cart .cart-items {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    align-items: flex-start;
}

.add-to-cart .cart-items .cart-product-details {
    flex: 1;
}

.add-to-cart .cart-items .cart-product-details .product-description {
    margin: 5px 0 10px;
    font-size: 14px;
    color: #555;
    line-height: 1.4;
}

.add-to-cart .cart-items img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.add-to-cart .cart-items .cart-product-details .price-details {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.add-to-cart .cart-items .cart-product-details .new-price {
    color: #000000de;
    font-size: 13px;
}

.add-to-cart .cart-items .cart-product-details .old-price {
    color: #c2bfbf;
    text-decoration: line-through;
    font-size: 13px;
}

.add-to-cart .cart-items .cart-product-details .discount {
    color: #206e4d;
    font-size: 13px;
}

.add-to-cart .cart-items .cart-product-details .quantity {
    padding: 4px 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    margin-left: 0px;
    cursor: pointer;
    width: 50px;
    height: 25px;
    margin-top: 3px;
}

.add-to-cart .cart-items .cart-product-details label {
    font-size: 13px;
    color: #000000de;
}

.add-to-cart .cart-items .cart-product-details .remove {
    border: none;
    background-color: white;
    outline: none;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.add-to-cart .cart-items .cart-product-details .remove:hover {
    background-color: #e8e4e4;
}

.add-to-cart .price-card {
    display: flex;
    background: white;
    padding: 20px;
    flex-direction: column;
    margin-left: 20px;
}

.add-to-cart .price-card h3 {
    margin-bottom: 15px;
    color: #312727;
    font-size: 13px;
}

.add-to-cart .price-card .price-row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 14px;
}

.add-to-cart .price-card .price-row span {
    font-size: 13px;
}

.add-to-cart .price-card .saving {
    color: green;
}

.add-to-cart .price-card .strike {
    text-decoration: line-through;
    color: gray;
    margin-right: 5px;
}

.add-to-cart .price-card .shipping {
    color: red;
}

.add-to-cart .price-card a {
    color: purple;
    text-decoration: none;
    margin-left: 5px;
}

.add-to-cart .price-card a:hover {
    text-decoration: underline;
}

.add-to-cart .price-card hr {
    margin: 15px 0;
}

.add-to-cart .price-card .total {
    font-weight: bold;
    font-size: 16px;
}

.add-to-cart .space {
    height: 100px;
}

.add-to-cart .payment-proceed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: white;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    width: 50%;
    border: 1px solid #c2bfbf;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}

.add-to-cart .price-info .amount {
    font-size: 20px;
    font-weight: bold;
}

.add-to-cart .save {
    color: green;
    font-size: 13px;
    margin-left: 5px;
    font-weight: 500;
}

.add-to-cart .pay-btn {
    background-color: #9c00ad;
    color: white;
    border: none;
    padding: 15px 50px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 50%;
}

.add-to-cart .pay-btn:hover {
    opacity: 0.9;
}

.add-to-cart .no-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-to-cart .no-items img {
    width: 300px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.add-to-cart .no-items h4,
.add-to-cart .no-items p {
    font-size: 13px;
    padding: 10px;
}

.add-to-cart .no-items button {
    color: #9c00ad;
    border: 1px solid #9c00ad;
    padding: 10px;
    width: 30%;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    cursor: pointer;
}

.add-to-cart .no-items button:hover {
    color: white;
    background-color: #9c00ad;
}

/* ----- LOGIN or SIGNUP FORM ----- */
.login-wrapper {
    z-index: 2000;
}

.login-wrapper,
.search-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #3f3d3d99;
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-78%, -50%);
    z-index: 2001;
}

.login-form {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    width: 430px;
    max-width: 90%;
    align-items: center;
    margin-left: 550px;
    margin-top: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    margin-bottom: 70px;
}

.login-form img {
    width: 400px;
    transform: translateY(0px);
    margin-top: -35px;
}

.login-form .close {
    transform: translate(245px, -30px);
    padding: 6px;
    font-size: 20px;
    font-weight: bolder;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    background-color: white;
    opacity: 0.9;
    cursor: pointer;
}

.login-form .login-heading {
    padding: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    font-family: "Manrope", sans-serif;
    transform: translateY(-15px);
    margin-top: 15px;
}

.login-form input[type=email] {
    width: 400px;
    transform: translateY(-20px);
    padding: 12px;
    transform: translateY(-35px);
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(213, 207, 207);
    background-color: #f7f7f7;
    outline: none;
    transition: 0.3s ease;
}

.login-form input[type=email]:focus {
    border-color: #ab03be;
}

.login-form .continue-btn {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    transform: translateY(-35px);
    border-radius: 10px;
    background-color: #9c00ad;
    border: 1px solid #f7f7f7;
    outline: none;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    width: 400px;
    color: white;
    cursor: pointer;
}

.login-form .continue-btn:hover {
    background-color: #ae0cc1;
    color: white;
}

.login-form input[type=checkbox] {
    width: 20px;
    height: 20px;
    accent-color: #ae0cc1;
}

.login-form .policies input:checked~.policy {
    background-color: purple;
}

.login-form .policies {
    display: flex;
    gap: 5px;
    margin-left: -40px;
    margin-top: -20px;
}

.login-form .policies h5 {
    font-size: 10px;
    color: #2c414c;
    font-weight: 500;
}

.login-form .stmt {
    font-family: "Manrope", sans-serif;
    font-size: 10px;
    color: #4f4f4f;
    text-align: center;
    margin-top: 20px;
    width: 400px;
}

.login-form .otp-heading p {
    font-size: 15px;
    color: #2c414c;
    text-align: left;
    margin-top: -40px;
}

.login-form .email-edit {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 10px;
}

.login-form .email-text {
    font-size: 14px;
    color: #2c414c;
    word-break: break-word;
    overflow-wrap: break-word;
}

.login-form .edit {
    background: none;
    border: none;
    color: #9c00ad;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
}

.login-form .otp-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    z-index: 500;
}

.login-form .otp-input {
    flex: 1;
    max-width: 50px;
    height: 45px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #b4b9bc;
    font-size: 20px;
    outline: none;
    font-weight: bolder;
}

.login-form .resend {
    width: 100%;
    margin-top: 10px;
}

.login-form .resend p {
    font-size: 12px;
    color: #9c00ad;
    text-align: right;
}

.login-form .resend h6 {
    font-size: 12px;
    color: rgb(218, 4, 4);
    text-transform: capitalize;
}

.login-form .verify-button {
    width: 100%;
    margin-top: 30px;
}

.login-form .verify-button button {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    background-color: #9c00ad;
    border: none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.login-form .resend .resend-link {
    color: #9c00ad;
    cursor: pointer;
}

/* ------------------------------ SEARCH MODAL ------------------------------- */

.search-modal {
    position: fixed;
    background-color: white;
    height: 60%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

.search-modal .search-close {
    text-align: right;
    color: #a0a0a0;
    font-size: 25px;
    font-weight: 200;
    padding: 20px 30px 10px 10px;
    cursor: pointer;
}

.search-modal .search-close:hover {
    color: #9c00ad;
}

.search-modal .searchbar-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex: 1;
}

.search-modal .searchbar-box .search-bar {
    display: flex;
    flex-direction: column;
}

.search-modal .searchbar-box .search-bar input {
    border: none;
    outline: none;
    width: 1000px;
    border-bottom: 1px solid #9c00ad;
    padding: 10px 0px 10px 0;
}

.search-modal .searchbar-box .search-bar label {
    font-size: 12px;
    color: #a0a0a0;
}

.search-modal .searchbar-box .search-icon {
    color: #9c00ad;
    font-size: 25px;
    margin-left: -25px;
}

.search-modal .search-contents {
    display: flex;
    margin: 40px 200px 200px 270px
}

.search-modal .search-contents .search-products {
    margin-right: 20px;
}

.search-modal .search-contents .search-products img {
    width: 130px;
}

.search-modal .search-contents .line {
    background-color: #a0a0a0;
    width: 1px;
    height: 200px;
    opacity: 0.5;
    margin: -10px 30px;
}

.search-modal .search-contents .search-productname {
    color: #2c414c;
    font-size: 14px;
}

.search-modal .search-contents .search-productname .heading {
    font-weight: 500;
}

.search-modal .search-contents .search-productname p {
    margin-bottom: 10px;
    margin-right: 200px;
    cursor: pointer;
    text-decoration: none;
}

.search-modal .search-contents .search-productname p:hover {
    font-weight: bold;
}

.search-modal .search-contents .search-products {
    cursor: pointer;
    text-decoration-line: none;
}

.search-modal .search-contents .search-products:hover {
    opacity: 0.7;
}

.search-modal .search-contents .search-products .product-name {
    color: #2c414c;
    font-size: 12px;
    word-wrap: break-word;
}

.search-modal .search-contents .search-products .price {
    font-size: 16px;
    color: #2c414c;
    font-weight: bolder;
}

.search-modal .search-contents .search-products .old-price {
    font-size: 12px;
    text-decoration-line: line-through;
    color: #bfc6c9;
}

.search-modal .search-contents .search-products .discount {
    color: #206e4d;
    font-size: 12px;
}

/* ---------------------SEARCH PAGE ------------------------------- */

.search-page {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.search-page .search-heading {
    text-align: center;
}

.search-page .search-heading .main-heading {
    font-size: 24px;
    text-transform: capitalize;
}

.search-page .search-heading .sub-heading {
    font-size: 14px;
    padding: 10px;
}

.search-page .search-heading .sub-heading b {
    color: #9c00ad;
}

.search-page .search-product-list {
    margin-left: 250px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
}

.search-page .search-product-list .product-list {
    width: 200px;
    text-decoration-line: none;
    color: inherit;
    margin-bottom: 20px;
}

.search-page .search-product-list .product-image img {
    width: 200px;
    height: 200px;
}

.search-page .search-product-list .product-details {
    margin-top: 10px;
}

.search-page .search-product-list .product-details .brand {
    font-size: 14px;
    color: #000;
}

.search-page .search-product-list .product-details .product-name {
    font-size: 15px;
    margin-top: 4px;
}

.search-page .search-product-list .product-details .price-section {
    margin-top: 6px;
}

.search-page .search-product-list .price {
    font-size: 18px;
    font-weight: bolder;
}

.search-page .search-product-list .old-price {
    margin-left: 6px;
    font-size: 16px;
    text-decoration: line-through;
    color: #00000080;
}

.search-page .search-product-list .discount {
    margin-left: 6px;
    color: #206e4d;
    font-size: 16px;
    font-weight: bolder;
}

.search-page .search-product-list .add-cart {
    width: 100%;
    margin-top: 14px;
    padding: 8px;
    border: 2px solid #9c00ad;
    background: white;
    color: #9c00ad;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.search-page .search-product-list .add-cart:hover {
    background: #9c00ad;
    color: white;
}

/* --------------------------- USER PROFILE -------------------------------- */

.user-profile,
.my-orders-section,
edit-user-profile,
.user-my-address,
.user-orders-section {
    background-color: #f3eaf5;
    width: 100%;
    min-height: 629px;
}

.user-profile-details,
.my-order-details,
.edit-user-details,
.user-myaddress-details {
    width: 50%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #c2bfbf;
    margin-left: 380px;
    background-color: white;
    padding: 20px;
}

.user-profile-details .user-profile-icon img {
    width: 80px;
    margin-top: 20px;
}

.user-profile-details .user-account {
    padding-top: 30px;
}

.user-profile-details .user-account h4 {
    color: #312727;
    font-size: 16px;
    text-transform: capitalize;
    padding-bottom: 10px;
}

.user-profile-details .user-account span {
    width: 100%;
    color: #00000080;
    font-size: 12px;
    font-weight: 500;
}

.user-profile-details .before-login-user {
    font-size: 12px;
    color: #312727;
    margin-top: -5px;
}

.user-profile-details .login-signup {
    width: 260%;
    padding: 10px;
    border-radius: 12px;
    margin-top: 15px;
    border: none;
    background-color: #9c00ad;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.user-profile-details .edit-profile {
    margin-left: 625px;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    color: #9c00ad;
    font-weight: 700;
    text-decoration-line: none;
}

.my-order-part {
    width: 50%;
    border: 1px solid #c2bfbf;
    margin-left: 380px;
    background-color: white;
    padding: 20px;
    cursor: pointer;
}

.my-order-part .my-order-div {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 10px;
    text-decoration-line: none;
}

.my-order-part .my-order-div .my-order {
    display: flex;
    gap: 10px;
}

.my-order-part .my-order-div .my-order .icons {
    width: 50px;
    border-radius: 50%;
    background-color: #f5f5f5;
}

.my-order-part .my-order-div .userprofile-icon {
    margin-left: 18px;
    margin-top: 15px;
    color: #424242;
}

.my-order-part .my-order-div .my-order p {
    padding-top: 5px;
    color: #424242;
}

.my-order-part .my-order-div .my-order .order-heading {
    font-size: 14px;
    font-weight: 600;
}

.my-order-part .my-order-div .my-order .order-desp {
    font-size: 12px;
}

.my-order-part .my-order-div .gt {
    padding-right: 10px;
    color: #424242;
    font-size: 14px;
    margin-top: 10px;
}

.user-profile-details .logout {
    margin: 20px 0px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: none;
    border: 2px solid #9c00ad;
    color: #9c00ad;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.user-profile-details .logout:hover {
    color: #840193;
    font-size: 17px;
}

/* --------------------------------- MY ORDERS -------------------------------- */

.my-orders {
    margin-top: 20px;
}

.my-orders button,
.user-orders-section .user-orders-details button {
    background: none;
    outline: none;
    border: none;
    font-size: 20px;
    color: #424242;
    margin-right: 10px;
    margin-top: 5px;
}

.my-orders h2,
.user-orders-section .my-orders-heading {
    font-size: 16px;
    font-weight: 600;
    color: #2c414c;
}

.my-order-details .line,
.user-orders-details .line {
    height: 1px;
    width: 950px;
    margin: 20px 0;
}

.my-order-details .no-my-orders-section img {
    margin-left: 330px;
    width: 300px;
}

.my-order-details .ordering-empty-section .main-heading {
    margin-left: 300px;
    padding: 20px;
    font-size: 16px;
    color: #2c414c;
}

.my-order-details .ordering-empty-section .sub-heading {
    margin-left: 420px;
    font-size: 14px;
    color: #9c00ad;
}

.my-order-details .ordering-empty-section button {
    margin-left: 360px;
    padding: 20px;
    font-size: 16px;
    color: #2c414c;
    background-color: #9c00ad;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 25%;
    cursor: pointer;
}

.your-order-section {
    width: 100%;
    padding: 18px;
    /* display: flex; */
    border: 2px solid #ded7d7;
    background-color: white;
    /* justify-content: space-between; */
    border-radius: 10px;
    margin-bottom: 15px;
}

.your-order-section img {
    width: 120px;
}

/* .your-order-section .product-details-img {
    display: flex;
    gap: 20px;
} */

.your-order-section .product-details-img button {
    width: 50%;
    background-color: #9c00ad;
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.your-order-section .userorder-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.your-order-section .userorder-details .order-id-date {
    margin-bottom: 20px;
}

.your-order-section .userorder-details .order-id-date .order-id,
.your-order-section .userorder-details .order-id-date .order-date,
.your-order-section .user-order-status p,
.your-order-section .payment-details p {
    font-size: 13px;
    margin-bottom: 5px;
    color: #312727;
    font-weight: 600;
}

.your-order-section .line-section {
    height: 1px;
    width: 100%;
    margin-right: 10px;
    background-color: #e1dada;
    margin-bottom: 10px;
}

.your-order-section .ordered-heading {
    display: flex;
    justify-content: space-between;
}

.your-order-section .ordered-heading .product-header p {
    font-size: 14px;
    color: #312727;
    font-weight: bold;
}

.your-order-section .ordered-heading .view-details-product p {
    font-size: 15px;
    color: #9c00ad;
    font-weight: 800;
    cursor: pointer;
}

.your-order-section .ordered-heading {
    margin-bottom: 20px;
}

.your-order-section .product-delivery-details {
    display: flex;
    gap: 100px;
}

.your-order-section .product-delivery-details .products-details .product-name,
.your-order-section .product-delivery-details .products-details p {
    font-size: 14px;
    font-weight: 600;
    word-break: break-all;
    width: 250px;
    margin-bottom: 10px;
}

.your-order-section .deliver-address-list {
    display: flex;
    gap: 60px;
}

.your-order-section .product-delivery-details .products-list {
    display: flex;
    gap: 20px;
}

.your-order-section .products-details {
    margin-top: 15px;
}

.your-order-section .product-delivery-details .products-details .view-all {
    font-size: 14px;
    color: #9c00ad;
    font-weight: bold;
    cursor: pointer;
}

.your-order-section .flex-line {
    height: 130px;
    width: 2px;
    background-color: #999595;
}

.your-order-section .address-header {
    font-size: 15px;
    font-weight: bold;
    color: #9c00ad;
}

.your-order-section .address-list {
    margin-top: 10px;
}

.your-order-section .address-list p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* .your-order-section .order-product-details,
.your-order-section .total-amount,
.your-order-section .status {
    margin-top: 10px;
    font-size: 14px;
}

/* .your-order-section .order-product-details .productname {
    width: 300px;
    word-break: break-all;
} */

.your-order-section .order-product-details p,
.your-order-section .order-status p {
    margin-bottom: 10px;
    font-size: 14px;
}

.order-products {
    background: #f2f2f2;
    transform: translate(-5%, -10%);
}

.order-products .modal-product-heading {
    font-size: 18px;
    color: #9c00ad;
    letter-spacing: 0;
    text-transform: capitalize;
}

.order-products .product-list {
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
}

.order-products .product-card {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    background: #fff;
}

.order-products .product-img {
    width: 100px;
}

.order-products .product-info {
    display: flex;
    flex-direction: column;
}

.order-products .product-name {
    margin: 0;
    font-size: 16px;
}

.order-products .product-price,
.order-products .product-qty {
    margin: 2px 0;
    font-size: 14px;
}

*/
/* ---------------------------- EDIT PROFILE -------------------------- */

.edit-user-details .edit-user h2 {
    font-size: 18px;
}

.edit-user-details .edit-user .line,
.user-myaddress-details .line {
    height: 1px;
    width: 725px;
    margin: 20px 0;
    background-color: #ece9e9;
}

.edit-user-details .edit-user-form .edit-form-details,
.user-myaddress-details .edit-user-form .edit-form-details {
    width: 100%;
    padding: 4px;
    border: 1px solid #bebcbc;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.edit-user-details .edit-user-form .edit-form-details:active {
    border: 1px solid #9c00ad;
}

.user-myaddress-details .edit-user-form .edit-form-details:active {
    border: 1px solid #9c00ad;
}

.edit-user-details .edit-user-form .edit-form-details .form-items,
.user-myaddress-details .edit-user-form .edit-form-details .form-items {
    color: #908e8e;
    font-size: 12px;
    margin-left: 9px;
    font-weight: 500;
}

.edit-user-details .edit-user-form .edit-form-details input,
.user-myaddress-details .edit-user-form .edit-form-details input {
    outline: none;
    border: none;
    margin-top: 5px;
    padding: 3px;
    margin-left: 5px;
}

.edit-user-details .edit-user .update-btn,
.user-myaddress-details .edit-user .update-btn {
    width: 100%;
    padding: 12px;
    background-color: #9c00ad;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.edit-user-details .edit-user .update-btn:hover {
    background-color: #b201c6;
}

/* --------------------------- MY ADDRESS FORM / MANAGE ---------------------------- */

.user-myaddress-details .deliver-to {
    font-size: 14px;
    color: #989494;
    margin-bottom: 9px;
    margin-top: 40px;
}

.user-myaddress-details .address-info,
.user-myaddress-details .contact-info {
    font-size: 16px;
    color: #312727;
    font-weight: 600;
    margin-bottom: 20px;
}

.user-myaddress-details .myaddress-city-state {
    display: flex;
    gap: 20px;
}

.user-myaddress-details .contact-info {
    margin-top: 40px;
}

.user-myaddress-details .edit-user .update-btn:hover {
    background-color: #b201c6;
}

.user-myaddress-details .no-address-div .smile-address {
    font-size: 5rem;
    font-weight: 300;
    color: #767272;
    margin-left: 320px;
}

.user-myaddress-details .no-address-div .no-address-para {
    font-size: 14px;
    color: #767272;
    margin-left: 285px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.user-myaddress-details .manage-address {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    position: relative;
}

.user-myaddress-details .manage-address .sub-menu-wrap {
    position: absolute;
    top: 30%;
    right: 3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(218, 215, 215, 0.28);
    z-index: 999;
    max-height: 600px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: white;
}

.user-myaddress-details .manage-address .sub-menu {
    background-color: white;
    min-width: 100px;
}

.user-myaddress-details .manage-address .sub-menu-link {
    display: flex;
    text-decoration: none;
    color: #767272;
    margin: 10px;
    font-size: 14px;
    padding: 2px;
    gap: 10px;
}

.user-myaddress-details .manage-address .address-home-icon {
    font-size: 1.5rem;
    color: #767272;
}

.user-myaddress-details .manage-address .user-details .username,
.user-myaddress-details .manage-address .user-details .address,
.user-myaddress-details .manage-address .user-details .phonenumber {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    color: #312727;
}

.user-myaddress-details .manage-address .user-details .address,
.user-myaddress-details .manage-address .user-details .phonenumber {
    font-size: 16px;
    font-weight: 300;
    text-transform: capitalize;
    color: #767272;
}

.user-myaddress-details .manage-address .user-details .address {
    max-width: 600px;
}

.user-myaddress-details .manage-address .user-details p {
    margin-bottom: 8px;
}

.user-myaddress-details .manage-address .three-dot-icon {
    margin-left: 170px;
    cursor: pointer;
}

/* Checkout */

.checkout-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 2002;
}

.checkout-section .checkout-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 800px;
    transform: translate(0%, -30%);
}

.checkout-section .checkout-heading {
    text-align: center;
    font-size: 24px;
}

.checkout-section .checkout-top-section {
    width: 100%;
    background-color: white;
}

.checkout-section .hr-line {
    height: 1px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.checkout-section .checkout-deliver-to {
    margin-top: 20px;
    background-color: white;
    padding: 5px;
}

.checkout-section .deliver-head-icon,
.checkout-section .order-summary-heading,
.checkout-section .payment-mode-heading,
.checkout-section .cash-on-delivery .COD-heading {
    display: flex;
    gap: 10px;
}

.checkout-section .deliver-head-icon p,
.checkout-section .order-summary-heading p,
.checkout-section .payment-mode-heading p {
    font-size: 16px;
    font-weight: 600;
    color: #9c00ad;
}

.checkout-section .deliver-head-icon .location-icon,
.checkout-section .order-summary-heading .package-icon,
.checkout-section .payment-mode-heading .payment-icon {
    color: #9c00ad;
    font-size: 18px;
}

.checkout-section .edit-address {
    font-size: 16px;
    font-weight: 800;
    color: #312727;
    cursor: pointer;
    text-decoration-line: none;
}

.checkout-section .edit-address:hover {
    color: #9c00ad;
}

.checkout-section .deliver-address {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.checkout-section .address-details {
    margin-bottom: 10px;
}

.checkout-section .address-details .username {
    font-weight: 600;
}

.checkout-section .address-details .username,
.checkout-section .address-details .phonenumber,
.checkout-section .address-details .location {
    font-size: 15px;
    margin-bottom: 4px;
}

.checkout-section .order-summary,
.checkout-section .payment-mode {
    margin-top: 25px;
}

.checkout-section .order-summary .order-details {
    margin-bottom: 25px;
}

.checkout-section .order-summary .order-details p {
    font-size: 14px;
    margin-bottom: 4px;
}

.checkout-section .payment-selection {
    display: flex;
    gap: 250px;
    margin-bottom: 15px;
}

.checkout-section .cash-on-delivery .COD-heading {
    margin-top: 20px;
}

.checkout-section .cash-on-delivery .COD-heading p {
    font-size: 16px;
    font-weight: 700;
    color: #312727;
}

.checkout-section .cash-on-delivery .COD-desp {
    font-size: 12px;
    margin-left: 23px;
    margin-top: 8px;
}

.checkout-section .cash-on-delivery .COD-btn {
    margin-top: 10px;
    margin-left: 23px;
    padding: 7px;
    outline: none;
    border: none;
    background-color: #9c00ad;
    color: white;
    width: 100%;
    font-weight: 600;
    font-family: 15px;
    cursor: pointer;
}

/* User orders */

.user-orders-details,
.my-order-details {
    width: 65%;
    display: flex;
    justify-content: space-between;
    border: 1px solid #c2bfbf;
    margin-left: 280px;
    background-color: white;
    padding: 20px;
}

/* ------------------------- ADMIN --------------------------------- */

.admin-form {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    width: 430px;
    max-width: 90%;
    align-items: center;
    margin-left: 550px;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    margin-bottom: 70px;
}

.admin-form h1,
.manage-table h3 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #9c00ad;
    padding: 10px;
}

.admin-form h4 {
    font-size: 15px;
    color: #2c414c;
    padding-bottom: 20px;
}

.admin-form input[type=email],
.admin-form input[type=password],
.admin-form input[type=text],
.admin-form input[type=file],
.admin-form input[type=number],
select {
    width: 360px;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(213, 207, 207);
    background-color: #f7f7f7;
    outline: none;
    transition: 0.3s ease;
}

.admin-form .admin-button {
    width: 360px;
    padding: 15px;
    box-sizing: border-box;
    transform: translateY(20px);
    border-radius: 10px;
    background-color: #9c00ad;
    border: 1px solid #f7f7f7;
    outline: none;
    text-transform: uppercase;
    font-family: "Manrope", sans-serif;
    color: white;
    cursor: pointer;
    margin-bottom: 40px;
}

/* -------------------------------------------- DASHBOARD -------------------------------------------- */

.admin-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.admin-sidebar {
    width: 20%;
    min-height: 100vh;
    background-color: #9c00ad;
    position: fixed;
    left: 0;
    top: 0;
}

.admin-sidebar .admin-sidebar-content .purplle-logo {
    background-color: white;
    display: flex;
    border-right: 1px solid #9c00ad;
}

.admin-sidebar .admin-sidebar-content .purplle-logo img {
    width: 40%;
    padding-left: 30px;
}

.admin-sidebar .admin-sidebar-content .purplle-logo h1 {
    font-size: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #2c414c;
    padding: 10px;
}

.admin-sidebar .admin-sidebar-content .admin-management {
    padding: 20px;
}

.admin-sidebar .admin-sidebar-content .admin-management .admin-tasks {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    gap: 15px;
    text-transform: capitalize;
    border-bottom: 1px solid white;
    cursor: pointer;
    text-decoration: none;
}


.admin-sidebar .admin-sidebar-content .admin-management .admin-icons {
    font-size: 20px;
}

.admin-navbar {
    width: 80%;
    height: 76px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: #9c00ad;
    color: white;
    position: sticky;
    top: 0;
    left: 20%;
}

.admin-navbar .admin-navbar-content {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    padding-right: 40px;
}

.admin-navbar .admin-navbar-content h4 {
    margin-right: 30px;
}

.admin-navbar .admin-navbar-content .admin-icons {
    font-size: 30px;
    cursor: pointer;
}

.admin-all-content-space {
    padding-right: 20px;
    padding-top: 20px;
    margin-left: 275px;
    margin-top: -650px;
}

/* DASHBOARD */

.admin-dashboard {
    margin-left: 70px;
}

.admin-dashboard .dashboard {
    font-size: 26px;
    color: #312727;
    font-weight: bolder;
    margin-bottom: 10px;
    margin-top: -10px;
}

.admin-dashboard .subtitle {
    font-size: 14px;
    color: #9c00ad;
    font-weight: 500;
    margin-top: -10px;
}

.admin-dashboard .dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 30px;
}

.admin-dashboard .card-size {
    height: 100px;
    width: 230px;
    border-radius: 10px;
    background-color: #9c00ad;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.admin-dashboard .admin-icon .icon {
    font-size: 25px;
    color: white;
}

.admin-dashboard .admin-content .heading {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-bottom: 6px;
}

.admin-dashboard .admin-content .number {
    font-size: 25px;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
}

.admin-dashboard .admin-chart {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.admin-dashboard .admin-chart div {
    min-height: 120px;
    width: 45%;
}

.admin-chart .revenue-chart {
    border: 2px solid #b3afaf;
    border-radius: 10px;
    padding: 10px;
}

.admin-dashboard .admin-chart .order-details {
    margin-right: 30px;
}

/* ------------------------------------------------ADD PRODUCTS ------------------------------------------- */

.add-products-form {
    margin-top: -8px;
    width: 100%;
    margin-left: 90px;
}

.add-products-form h1 {
    text-align: center;
    margin-top: -20px;
    margin-bottom: -5px;
}

.form-row {
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
    gap: 10px;
}

.admin-form input[type=text],
.admin-form input[type=file],
.admin-form input[type=number],
select {
    margin-top: 20px;
    width: 550px;
    margin-left: 60px;
}

.admin-form option:hover {
    background-color: #9c00ad;
}

.add-products-form .add-product-button {
    width: 78%;
    margin-bottom: 10px;
}

.products-form-data .form-row img {
    width: 150px;
    height: 150px;
    margin-left: 500px;
}

/* ------------------------------------ MANAGE PRODUCTS --------------------------------------- */

.manage-table {
    margin-left: 60px;
    background-color: white;
    width: 95%;
    margin-top: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px;
    margin-bottom: 70px;
}

.manage-table .manage-table-headings,
.manage-table .manage-table-headings .admin-search-products {
    display: flex;
    justify-content: space-between;
}

.manage-table .manage-table-headings .search-bar {
    border: none;
    outline: none;
    border-bottom: 1px solid #9c00ad;
    width: 400px;
    margin-bottom: 20px;
}

.manage-table .manage-table-headings .search-icon {
    color: #9c00ad;
    font-size: 20px;
    margin-left: -25px;
}

.manage-table h3 {
    color: #9c00ad;
    font-size: 25px;
    padding: 0px 0px 20px 0;
}

.manage-table .table-container {
    overflow-x: auto;
}

.manage-table table {
    border-collapse: collapse;
    width: 100%;
}

.manage-table td,
.manage-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.manage-table td {
    font-size: 13px;
}

.manage-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #9c00ad;
    color: white;
}

.manage-table img {
    width: 100px;
}

.manage-table td .edit {
    color: rgb(51, 51, 241);
}

.manage-table td .delete {
    color: rgb(241, 26, 26);
}

.manage-table td i {
    cursor: pointer;
}

.manage-table td button {
    outline: none;
    border: none;
}

.manage-table .action-btn {
    padding-left: 20px;
}

.manage-table .action-btn button {
    padding: 10px;
    background-color: white;
}

.manage-table .click {
    cursor: pointer;
}

.manage-table .click:hover {
    color: #9c00ad;
    font-weight: 700;
}

.modal-product-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 2002;
}

.table-container {
    max-height: 480px;
    overflow-y: auto;
}

.table-scroll {
    max-height: 300px;
    overflow-y: auto;
}

.table-scroll table {
    width: 100%;
    border-collapse: collapse;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
}

.close-btn {
    float: right;
    color: #9c00ad;
    background-color: white;
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
}

/* React Toast CSS */

.toastBody {
    font-family: "Manrope", sans-serif;
    color: #9c00ad !important;
    font-size: 1.4rem;
}